<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Login</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeLogin()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item">
				<button class="button button-block button-positive" disabled>Log in with Twitter</button>
			</label>
			<label class="item">
				<button class="button button-block button-positive" disabled>Log in with LinkedIn</button>
			</label>
			<label class="item">
				<button class="button button-block button-positive" ng-click="doLogin('facebook')">Log in with Facebook</button>
			</label>
		</div>
	</ion-content>
</ion-modal-view>